@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts.css/Ubuntu-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts.css/Ubuntu-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts.css/Ubuntu-Bold.ttf');
    font-weight: 900;
}