#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
   
}

.grid-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

}

.grid-header_item {
    display: flex;
    flex-direction: column;
}

.grid-row {
 display: flex;
 flex-direction: row;
 gap: 50px;
}

.grid-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

}